<div appDivisionStyling [backColor]="bgColor" [textColor]="txtColor" [fontSize]="fontSize" class="container border rounded">
    <div class="row">
        <div class="col">
            <label>Background-Color:</label>
            <input type="text" (keyup)="setBackColor($event)"  placeholder="Background Color">
        </div>
        <div class="col">
            <label>Text Color:</label>
            <input type="text" name="textColor" (keyup)="settextColor($event)" placeholder="Text Color">
        </div>
        <div class="col">
            <label>Font-size:</label>
            <input type="number" name="fontSize" (keyup)="setfontSize($event)" placeholder="Font Size">
        </div>
    </div>

<p class="styling-text">
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
    This is just for Background Color and text color change.This is just for Background Color and text color change.
</p>

</div>